<div>
    <div>로그인</div>
    <div>
        <input v-model="item.token"
               placeholder="your token"
               type="text"
               @keyup.enter="onClickSignIn"/>
    </div>
    <div>
        <input v-model="item.id"
               placeholder="your id"
               type="text"
               @keyup.enter="onClickSignIn"/>
    </div>
    <div>
        <input v-model="item.password"
               placeholder="your password"
               type="password"
               @keyup.enter="onClickSignIn"/>
    </div>
    <div>
        <button type="button"
                @click="onClickSignIn"
        >
            sign in
        </button>
    </div>

</div>